<h3>コメント管理</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>コメント内容</th>
      <th>ユーザー</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.content %></td>
        <td><%= link_to comment.user.email, admin_user_path(comment.user) %></td>
        <td>
          <%= link_to '削除', admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-flat' %>