<h1>投稿編集</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', value: @post.title %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control', value: @post.body %>
  </div>

  <div class="form-group">
    <%= form.label :genre_id, "ジャンル" %>
    <%= form.collection_select :genre_id, @parent_genres, :id, :name, prompt: '選択してください', selected: @post.genre_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subgenre_id, "サブジャンル" %>
    <%= form.collection_select :subgenre_id, @subgenres, :id, :name, prompt: '選択してください', selected: @post.subgenre_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %>
    <% if @post.image.attached? %>
      <div class="mt-2">
        <%= image_tag @post.image, class: 'img-thumbnail' %>
        <label class="form-check-label">
          <%= form.check_box :remove_image, value: '1', class: 'form-check-input' %>
          画像を削除
        </label>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit '更新する', class: 'btn btn-primary' %>
  </div>
  <div class="actions">
    <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
  </div>
<% end %>

<%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-flat' %>