<h1><%= @subgenre.name %>の投稿一覧</h1>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= truncate(post.body, length: 100) %></p>
    <%= link_to '詳細', post_path(post) %>
  </div>
<% end %>

<%= link_to 'ジャンル一覧に戻る', genres_path %>
