<% if @user %>
  <h1><%= @user.name %>さんのページ</h1>

  <% if @user == current_user %>
    <%= link_to '新規投稿', new_post_path, class: 'btn btn-primary' %>
    <%= link_to 'プロフィール編集', edit_user_path(@user), class: 'btn btn-secondary' %>
    <%= link_to 'アカウント削除', user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
  <% end %>

  <!-- プロフィール画像 -->
  <div class="profile">
    <%= image_tag @user.get_profile_image, class: "profile-image" %>
  </div>

  <!-- 自己紹介 -->
  <div class="introduction">
    <p><strong>自己紹介:</strong> <%= @user.self_introduction %></p>
  </div>

  <h5>投稿一覧</h5>
  <% @posts.each do |post| %>
    <div class="post">
      <h4><%= link_to post.title, post_path(post) %></h4>
      <p><%= truncate(post.body, length: 100) %></p>
    </div>
  <% end %>
<% else %>
  <p>ユーザーが見つかりませんでした。</p>
<% end %>
