<header>
  <nav>
    <ul>
      <li><%= link_to 'Top', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'ジャンル', genres_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to '新規投稿', new_post_path %></li>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
  <%= form_with(url: search_posts_path, method: :get, local: true) do %>
    <div class="field">
      <%= label_tag :query, "検索" %>
      <%= text_field_tag :query, params[:query] %>
    </div>
    <div class="actions">
      <%= submit_tag "検索する" %>
    </div>
  <% end %>
</header>
